* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1280px;
}

body{
    background-color: aliceblue;
}

header, form, .lista{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

header, main{
    margin-top: 8px;
    padding: 8px;
}

input, button{
    padding: 8px;
}

button{
    font-weight: bold;
}

button:hover, li:hover{
    cursor: pointer;
}

ul li, .lista{
    padding: 4px;
}