*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: lightgreen;
    padding: 8px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1360px;
    width: 100%;
}

main article{
    max-width: 30%;
    max-height: 30%;
    width: 100%;
}

main article img{
    width: 100%;
}

article img, article h2{
    padding: 0.8%;
    margin: 0.8%;
}

article h2{
    background-color: lightcoral;
    text-align: center;
}

article{
    overflow-x: hidden;
}