.title{
    font-size: 48px;
}

.mensagem{
    padding: 8px;
    border: 1px solid #333;
    border-radius: 8px;
}

.mensagem_titulo{
    font-size: 18px;
}

.mensagem_conteudo{
    font-size: 14px;
}

.mensagem_is_error{
    border-color: red;
    background-color: rgb(255, 226, 226);
    color: red;
}

.accordion{
    border: 1px solid #000;
}

.accordion_header{
    padding: 8px;
    cursor: pointer;

}

.accordion_content{
    padding: 8px;
    border-top: 1px solid #eee;
    display: none;
}

.accordion.is_open .accordion_content{
    display: block;
}